head {
text-align: center;
}
body {
text-align: center;
}
p1 {
  text-align: center;
  font-family: "Times New Roman";
}
p2 {
  text-align: center;
  font-family: "Times New Roman";
}
p3 {
  text-align: center;
  font-family: "Times New Roman";
}

