#main {
  text-align: center;
  margin: 25px auto;
  border: solid 2px "black";
}
head {
  text-align: center;
  font-family: "Georgia";
}
body {
  text-align: center;
  font-family: "Georgia";
}
p {
  text-align: center;
  font-family: "Georgia";
}


