---
---

@import "{{ site.theme }}";
#banner {
  background: #173392;
  border-style: solid;
  border-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #FDFDFD;
}
body {
  background: linear-gradient(to bottom, #ff6600 0%, #0066ff 100%);
}
header {
  background: linear-gradient(to right, #000099 0%, #0066ff 100%);
}


