---
---

@import "{{ site.theme }}";
#banner {
  background: linear-gradient(to right, #000066 61%, #ffffff 100%);
  border-style: solid;
  border-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #FDFDFD;
}
body {
  background: linear-gradient(to bottom, #ffffff -3%, #ff9933 95%);
  color: red;
}
header {
  background: linear-gradient(to right, #000099 0%, #0066ff 100%);
}
section {
  color: black;
}
@font-face {
    font-family: 'Copse';
    src: url('../fonts/copse-regular-webfont.eot');
    src: url('../fonts/copse-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copse-regular-webfont.woff') format('woff'),
         url('../fonts/copse-regular-webfont.ttf') format('truetype'),
         url('../fonts/copse-regular-webfont.svg#CopseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



